@import "vars"

@media only screen and (max-width : 1200px)
	.nav
		width: 100%
		margin-left: 3%
		margin-top: 1%
		&.responsive
			position: relative
			top: 50px
			height: 190px
			left: -200px
			a
				float: none
				display: block
				text-align: left
				border-bottom: none
				&:hover:not(:last-child)
					color: $accent
					font-size: 18px
				&.icon
					position: absolute
					top: -50px
					right: -200px
		a
			display: none
			&.icon
				float: right
				clear: both
				border-bottom: none
				display: flex
				color: $secondary
				font-size: 25px

@media only screen and (max-width : 992px)
	.work-items
		grid-template-columns: 1fr
	.cards
		grid-template-columns: 1fr
		grid-gap: 70px
	.feedback__form
		input
			padding: 20px
	.info
		grid-template-columns: 1fr
		text-align: center
		padding: 30px 20px
	.info__photo
		display: none
	#submit
		margin-top: 8%