@import "fonts"
@import "libs"
@import "base"
@import "vars"

.container
    padding: 25px 7% 75px 7%
    width: 100%
.grid
    display: grid
header
    background-color: $primary
    display: flex
.header__logo
    color: $secondary
    text-transform: uppercase
    font-size: 35px
    cursor: pointer
    margin-left: 12%
    margin-top: 2%
.nav
    margin-top: 3.5%
    margin-left: 40%
    a
        color: $secondary
        padding: 12px 16px
        text-align: center
        transition: all .3s ease 
        &:hover
            border-bottom: 3px solid $accent
.icon
    display: none
.main-info
    padding: 15% 0 23% 0
    background-color: $primary
    text-align: center
    color: $secondary
    h1
        font-size: 44px
    .mysite
        color: $accent
.info
    grid-template-columns: repeat(2, 1fr)
    padding-top: 150px
    padding-bottom: 150px
.info__photo
    padding-left: 10%
.info__main
    align-self: center
    h2
        display: inline-block
        text-transform: uppercase
        font-weight: normal
        border-bottom: 3px solid $accent
        padding-bottom: 25px
        span
            font-weight: bold
    p
        padding-top: 30px 
.skills
    text-align: center
    color: $secondary
    background-color: $primary
    h2
        text-transform: uppercase
        position: relative
        padding-bottom: 25px
        &:before 
            content : ""
            position: absolute
            left    : 45%
            bottom  : 0
            height  : 1px
            width   : 10%
            border-bottom: 3px solid $accent
.cards
    grid-template-columns: repeat(3, 1fr)
    padding-top: 25px
    grid-gap: 15%
    h4
        font-size: 14px
        font-weight: normal
.fab
    font-size: 250px
.fa-html5
    color: hsl(15, 100%, 60%)
.fa-css3-alt
    color: hsl(210, 100%, 50%)
.fa-js-square
    color: hsl(54, 100%, 50%)
.works
    h2
        text-transform: uppercase
        padding-bottom: 25px
        text-align: center
        position: relative
        &:before 
            content : ""
            position: absolute
            left    : 45%
            bottom  : 0
            height  : 0
            width   : 10%
            border-bottom: 3px solid $accent
.work-items
    padding-top: 40px
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 40px
    .item
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
        height: 300px
        background-color: gray
        opacity: .7
        transition: all .3s ease
        a
            color: black
        &:hover
            opacity: 0.9
            transform: scale(1.02)
            a
                color: $accent
        h3
            font-weight: normal
.feedback
    text-align: center
    color: $secondary
    background-color: $primary
    h2
        text-transform: uppercase
        padding-bottom: 25px
        text-align: center
        position: relative
        &:before 
            content : ""
            position: absolute
            left    : 45%
            bottom  : 0
            height  : 0
            width   : 10%
            border-bottom: 3px solid $accent
.feedback__form
    position: relative
    display: inline-block
    padding-top: 40px
    input
        font-size: 1em
        width: 100%
        height: 50px
        padding: 0px 15px 0px 15px
        color: $secondary
        background-color: black
        border: none
        border-bottom: solid 1px $secondary
        border-top: 1px solid $secondary
        border-radius: 20px
        outline: none
        margin-bottom: 10px
    textarea 
        font-size: 1em
        width: 100%
        height: 150px
        padding: 15px
        color: $secondary
        background-color: black
        border-radius: 20px
        border: none
        border-top: solid 1px $secondary
        border-bottom: solid 1px $secondary
        outline: none
        resize: none
#submit
    margin-top: 5%
    width: 40%
    background-color: $accent
    border: none
    border-radius: 5px
    color: black
    transition: all .3s ease
    cursor: pointer
    &:hover
        opacity: 1.2
        transform: scale(1.1)
footer
    height: 180px
    .footer__info
        padding-top: 70px
        text-align: center
    .mixonich
        text-transform: uppercase
        color: $accent
        font-weight: bold

@import "media"